body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* #region header */
header{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

header>div{
    display: flex;
    gap: 2.5rem;
    padding: 2rem;
}

.header-right input{
    background-color: #0061ffFF;
    color: #fff;
    padding: 0.5rem 1.5rem;
    font-size: 1.25rem;
    border: none;
}

.logo{
    width: 12rem;
}
/* #endregion header */

/* #region main */

/* #region jumbotron */
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.jumbotron{
    background-color: #b4d0e7FF;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.container.jumbotron{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.megatitle{
    font-size: 5rem;
    width: 70%;
    line-height: 10rem;
}

.textbox.jumbotron{
    width: 30%;
    font-size: 2rem;
    line-height: 3rem;
    display: flex;
    align-items: flex-start;
}

.jumbotron img{
    margin-bottom: -10rem;
}

.jumbotron input{
    background-color: #0061ffFF;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 2rem;
    margin-bottom: 4rem;
}

.jumbotron i{
    font-size: 6rem;
    margin-top: 10rem;
}

/* #endregion jumbotron */

.container.plan_business{
    margin-top: 20rem;
    width: 60%;
    align-self: center;
}

nav.plans{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10rem;
    margin-top: 6rem;
}

.plans .column{
    width: 28%;
}

.plans_head{
    height: 3rem;
    width: 100%;
    border: 1px solid black;
}

.spot_enterprice_head{
    width: 100%;
    text-align: center;
}

/* #region DEBUG */
.debug .plan_business{
    background-color: yellow;
    height: 5%;
}

.debug nav.plans{
    height: 2000px;
}

.debug nav.plans div{
    flex-basis: 1800px;
    background-color: cadetblue;
    border: 1px solid black;
}

.debug .spot.enterprise{
    height: 500px;
    border: 1px solid black;
}

.debug .spot_enterprice_head{
    height: 4rem;
    border: 1px solid black;
}